
<div><button mat-raised-button color="primary" (click)="onCreate()"><mat-icon>add</mat-icon></button>
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>
</div>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;">{{ this.paginator.pageIndex == 0 ?  i+1 : i+1 + this.paginator.pageIndex * this.paginator.pageSize}}</mat-cell>
      </ng-container>
    <!-- Id Column -->
    <ng-container matColumnDef="countryId">
        <mat-header-cell *matHeaderCellDef mat-sort-header  [style.display]="'none'"> Id </mat-header-cell>
        <mat-cell *matCellDef="let element"  [style.display]="'none'"> {{element.countryId}} </mat-cell>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="countryCode" sticky>
        <mat-header-cell *matHeaderCellDef mat-sort-header> Country Code </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.countryCode}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="countryName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Country Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.countryName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="getDetails(row)"><mat-icon>launch</mat-icon></button>
          <button mat-icon-button color="warn" (click)="onDelete(row.countryId)"><mat-icon>delete_outline</mat-icon></button>
        </mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; ; let i = index"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"></mat-paginator>
