.signup4-wrap {
  background: url('/assets/images/illustrations/fancy-twilight.jpg');
}
.signup4-container {
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}
.height-100vh {
  height: 100vh;
}
.signup4-header {
    position: relative;
    color: white;
    padding: 35px;

    & > div {
        z-index: 2;
    }
}

.signup4-header::before{
    // background-color: rgba(3, 143, 222, 0.7);
    content: '';
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }

.signup4-small-image {
    height: 24px;
}
.signup4-form {
    padding: 35px;
}

.signup4-button {
    text-align: center;
    .mat-raised-button {
        border-radius: 18px;
    }
}
.white {
  background-color: #ffffff !important;
}
.grey-100 {
  background-color: #f5f5f5 !important;
}
.full-width {
  width: 100% !important;
}
.px-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.forgot-btn{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
}